h1 {
  color: rgb(105, 99, 99);
}
ul {
  list-style: none;
}
ul {
  margin: 0;
  padding: 0;
}
img {
  margin-right: 15px;
}
a {
  text-decoration: none;
}
.kash-app-wrapper {
  margin: 0 auto;
  max-width: 680px;
}
.kash-app {
  margin-top: 70px;
  padding: 50px;
  border: 1px solid #dadde1;
  border-radius: 10px;
  color: rgb(112, 117, 122);
  display: block;
  font-family: arial, sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  text-transform: capitalize;
}
#temp {
  font-size: 48px;
}
.unit {
  position: relative;
  top: -20px;
}
#windUnit,
#preposition {
  text-transform: lowercase;
}
.header {
  font-size: 30px;
  position: absolute;
  top: 90px;
  left: 400px;
  padding: -20px;
  font-family: "Permanent Marker", cursive;
}
.logo-icon {
  position: absolute;
  top: 88px; /* Adjust the top value to position it correctly */
  left: 1000px; /* Adjust the left value to position it correctly */
  font-size: 30px;
}
.hu-wi {
  font-size: 15px;
  position: absolute;
  top: 200px; /* Adjust the top value to position it correctly */
  left: 870px;
}
#weather-forcast {
  margin-top: 60px;
  text-align: center;
  margin: 0; /* Reset margin to zero */
  padding: 0; /* Reset padding to zero */
}

.weather-forecast-date,
.weather-forecast-temp {
  text-align: center;
  margin: 0;
  padding: 0;
}
#forecast-logo {
  display: block;
  margin: 0 auto;
}
